<head th:fragment="head(pageTitle)">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function (event) {
                const selectedOption = event.target.value;
                if (selectedOption !== ""){
                    window.location.replace("/?lang=" + selectedOption);
                }
            });
        });
    </script>
</head>

<header th:fragment="header">
    <a th:href="@{/}"><img th:src="@{/img/logo.png}"/></a>
    <nav>
        <ul>
            <li><a th:href="@{/fossils/trilobites}">Trilobites</a></li>
            <li><a th:href="@{/fossils/facts}">Wisco Fossils</a></li>
            <li><a th:href="@{/glaciers/facts}">Glacier Facts</a></li>
            <li><a th:href="@{/glaciers/trail}">Ice Age Trail</a></li>
            <li><a th:href="@{/redirect-me}">Redirect</a></li>
            <li><a th:href="@{/forward-me}">Forward</a></li>
            <li>
                <span th:text="#{lang.change}"></span>:
                <select id="locales">
                    <option value=""></option>
                    <option value="en" th:text="#{lang.en}"></option>
                    <option value="fr" th:text="#{lang.fr}"></option>
                    <option value="es" th:text="#{lang.es}"></option>
                </select>
            </li>
        </ul>
    </nav>
    <h1 th:text="#{greeting}">GREETING</h1>
</header>